@import '../../styles.scss';

$input-border: #757575;

section {
  width: 100vw;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (orientation: landscape) {
      flex-direction: row;
    }
  }
  input {
    background-color: $grey;
    border-radius: 4px;
    border: 1px solid $input-border;
    padding: 12px 8px;
    width: 278px;
  }
}
