@import "../../styles.scss";

$input-color: #757575;

form {
  display: flex;
  flex-direction: column;
  label {
    font-size: 14px;
  }

  @media (orientation: landscape) {
    flex-direction: row;
  }
}
input {
  background-color: $grey;
  border-radius: 4px;
  border: 1px solid $input-color;
  padding: 12px 8px;
  width: 278px;
}
