@media (orientation: landscape) {
  .main {
    max-width: 844px;
    max-height: 390px;
    background-color: red;
  }
  @media (orientation: portrait) {
    .main {
      max-width: 390px;
      max-height: 844px;
      background-color: blue;
    }
  }
}
